{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if listings %}
    <hr style="border-top: 1px solid #ccc;">
    <ul style="list-style: none; padding-left: 0;">

        {# Active listings first #}
        {% for listing in listings %}
            {% if not listing.closed %}
                <a href="{% url 'listing_detail' listing.id %}" style="text-decoration: none; color: inherit;">
                    <li style="display: flex; align-items: flex-start; margin-bottom: 20px;">
                        <div style="margin-right: 20px;">
                            {% if listing.image %}
                                <img src="{{ listing.image }}" width="150">
                            {% else %}
                                <p>No Image</p>
                            {% endif %}
                        </div>
                        <div>
                            <h4>{{ listing.title }}</h4>
                            <strong>Category:</strong> {{ listing.category }}<br>
                            <strong>Price:</strong> ${{ listing.price }} <br>
                            {{ listing.description }} <br>
                            <strong>Owner:</strong> {{ listing.owner.username }} <br>
                            <br><small style="color: gray;">Created {{ listing.dateTime }}</small>
                        </div>
                    </li>
                </a>
                <hr style="border-top: 1px solid #ccc;">
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    {% endif %}
{% endblock %}
